@import "../../utils/utils.scss";

.table {
  margin: 0px 25px;
  border: 1px solid;
  overflow: auto;
  &__header {
    display: grid;
    grid-template-columns: 0.5fr repeat((6, 1fr));
    position: sticky;
    background-color: $background-color;
    height: 50px;
  }
  .ids-spinner {
    background-color: $background-color;
  }
  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid;
    text-align: center;
  }
}

.item {
  display: grid;
  grid-template-columns: 0.5fr repeat((6, 1fr));
  justify-items: center;
  align-items: center;
  border-top: 1px solid;
  height: 50px;

  &__row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid;
    text-align: center;
  }
  &__btn {
    img {
      width: 35px;
    }
  }
}

@media (max-width: 640px) {
  .table {
    &__header {
      grid-template-columns: 45px repeat((6, minmax(50px, 1fr)));
      font-size: 0.8rem;
      width: 100vw;
    }
  }
  .item {
    width: 100vw;
    grid-template-columns: 45px repeat((6, minmax(50px, 1fr)));
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .table {
    &__header {
      grid-template-columns: 45px repeat((6, minmax(50px, 1fr)));
      width: calc(100vw + 50%);
    }
  }
  .item {
    width: calc(100vw + 50%);
    grid-template-columns: 45px repeat((6, minmax(50px, 1fr)));
  }
}
